body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(./components/Images/background7.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 35px; 
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 5px solid rgb(198, 238, 20);
  color: white;
}

.nav-bar {
  display: flex;
  list-style: none;
  
}
.nav-bar li {
  margin-right: 10px;
}
.nav-bar button {
  font-size: 20px;
  padding: 5px 15px;
  background-color: #db941b;
}

.social-bar {
  display: flex;
  list-style: none;
  margin-right: 50px;
}
.social-bar li {
  margin-right: 30px;
  font-size: 35px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
}

.fb {
  background-color: #4e6baf;
  color: #ffffff;
  cursor: pointer;
}
.ig {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #ffffff;
  cursor: pointer;
}
.tw {
  background-color: #157ab4;
  color: #ffffff;
  cursor: pointer;
}